
.page-get-iframe .sidebar{width: 240px;}
.page-get-iframe .sidebar .block-title {text-align: center;}










/* Page Request a Quote */

.node-type-quote .content .right-final h2{color: #275FA6; font-family: trebuchet MS; font-size: 25px; font-style: normal; font-weight: bold; left: 345px; line-height: 33px; margin-left: 10px; margin-top: 15px; position: absolute; width: 390px;}

body.node-type-quote{background: none #E3F1FE;}
body.node-type-quote.page-node-edit{background: none white;}


.node-type-quote #all-content{width: 890px; background: transparent; padding-top: 0; box-shadow: none;}
body.one-sidebar.sidebar-second.node-type-quote #main{width: 100%; background: none;}

.node-type-quote #bvc-logo{float: left;}

.node-type-quote #bvc-logo .logo{background: url("images/getvoip-logo-main-orange.png") no-repeat scroll 0 0 transparent; height: 80px; margin: 0px 0 5px 35px; width: 260px;}

.node-type-quote #bvc-logo h3{color: gray; font-size: 14px; font-style: italic; margin: 0 0 10px;}

.node-type-quote .partners{float: right; margin-top: 32px;}
.node-type-quote #some-logo{background: url("images/some-logo.png") no-repeat scroll 0 0 transparent; float: left; height: 50px; width: 120px; margin: 22px 8px 0 0;}
.node-type-quote #v3 #sitelock{float: right;}

.node-type-quote .content h2{font-size: 17px; font-style: italic; line-height: 21px;}
.node-type-quote h1{position: relative; background: none #FFFBE8; display: block; font-size: 47px; margin: 0 0 30px 0; padding: 10px 0 0; text-align: justify;}
.node-type-quote .content{position: relative; background: #fffbe8; padding: 0 30px; box-shadow: 4px 4px 4px -4px gray; border: 2px solid white;}

.node-type-quote .left{float: left; width: 250px;}
.node-type-quote .center{float: left;}
.node-type-quote .right{float: right;}


.node-type-quote .content .left{float: left; width: 285px;}

.node-type-quote #requestQuoteFormWrapper{position: absolute; width: 285px; z-index: 10;}
    
.node-type-quote #requestQuoteFormWrapper,
.node-type-quote .multipartForm{height: 300px; border: none; background: none;}

.node-type-quote #requestQuoteFormWrapper .step{height: 360px; border: none;}

.node-type-quote .content .left label,
.node-type-quote .content .question{font-size: 13px; font-weight: bold; margin-bottom: 5px;}

.node-type-quote .content .left .select-wrapper{background: url("images/select-arrow.jpg") no-repeat scroll right center transparent; border: 1px solid lightgray; height: 25px; /*width: 285px;*/}
.node-type-quote .content .left select{/*background: none repeat scroll 0 0 transparent; border: medium none; */color: gray; font-size: 15px; height: 27px; margin-bottom: 10px; width: 280px;}

.node-type-quote .ui-state-default{background: none white; /*height: 21px;*/ margin-bottom: 8px; padding: 0 0 4px; text-align: center;}
.node-type-quote .ui-widget-content .ui-state-default{background: none white; height: 21px; margin-bottom: 8px; padding: 0 0 4px; text-align: center;}
.node-type-quote  .ui-widget-header .ui-state-default{background: none white; height: 21px; margin-bottom: 8px; padding: 0 0 4px; text-align: center;}
  
  
.node-type-quote .ui-selectmenu-menu li a, 
.node-type-quote .ui-selectmenu-status{padding: 0.1em 1em; text-align: center; font-size: 15px;}

.node-type-quote .ui-selectmenu-menu li a{border-bottom: 1px dotted lightgray;}

.node-type-quote .ui-state-default .ui-icon{background: url("images/sprite-quote-1.png") no-repeat scroll right -86px transparent}


.node-type-quote .content .left #phone{float: right;} 

.node-type-quote .content .left .protected{background: url("images/protected.png") no-repeat transparent; height: 27px; width: 85px; position: absolute; bottom: 97px; right: 2px;}

.node-type-quote #requestQuoteFormWrapper #personal_info .question{color: gray; margin-bottom: 20px;}
.node-type-quote #requestQuoteFormWrapper #personal_info .wrapper{clear: both; height: 25px; margin-bottom: 5px; width: 280px;}

.node-type-quote #requestQuoteFormWrapper #personal_info input {margin: 0; padding: 0 5px; text-align: left; width: 140px; font-weight: bold;}


.node-type-quote #requestQuoteFormWrapper #personal_info #phone input{margin-left: 5px; width: 35px;}

.node-type-quote #personal_info .label_before{margin-left: 0;}

.node-type-quote #requestQuoteFormWrapper label.error{font-size: 10px; font-weight: normal; left: 0; margin: 0 0 65px;}
.node-type-quote #requestQuoteFormWrapper #personal_info label.error{margin: 0 0 80px;}



.node-type-quote #requestQuoteFormWrapper #Navigation{bottom: 0;}

.node-type-quote #requestQuoteFormWrapper #Navigation #next{cursor: pointer; background: url("images/sprite-quote-1.png") no-repeat 251px -36px #0354BD; border-radius: 7px; box-shadow: 5px 5px 5px -5px gray; color: white; font-weight: bold; height: 40px; left: 8px; position: relative; width: 282px; margin: 0 0 3px 0; font-family: Verdana,Arial,sans-serif; font-size: 17px;}
.node-type-quote #requestQuoteFormWrapper #Navigation #back {cursor: pointer; background: none; border: none; color: lightgray; margin: 0 10px 15px 23px; font-size: 16px; width: 40px !important; display: block;}

.node-type-quote #requestQuoteFormWrapper .results{text-align: left; border: none; position: absolute; bottom: 0; height: auto;}
.node-type-quote #requestQuoteFormWrapper .results p{line-height: 20px;}
.node-type-quote #requestQuoteFormWrapper .results .wait p{line-height: 23px;}
.node-type-quote #requestQuoteFormWrapper .quote-final {margin-top: -15px;}

.node-type-quote .content .center{float: left; margin-left: 300px; margin-bottom: 20px; width: 280px;}

.node-type-quote .center .field-name-field-q-image{ height: 280px; left: 280px; position: absolute; top: 65px;}




.node-type-quote .content .quote{color: gray; font-size: 15px; font-style: italic; line-height: 20px; margin: 238px 0 0 20px; text-align: justify; width: 260px;}

    
.node-type-quote .content .author{float: right; font-size: 13px; font-style: italic; font-weight: bold; margin-top: 10px; color: gray;}


.node-type-quote .content .right{float: right; width: 230px; height: 329px; position: relative;}

.node-type-quote .content .option{background: url("images/sprite-quote-1.png") no-repeat scroll 0 0 transparent; margin-bottom: 10px; padding-left: 30px; font-size: 14px; font-weight: bold;}


.node-type-quote .content #right-bottom{bottom: 0; position: absolute;}

.node-type-quote .content .right .image{background: url("images/sprite-quote-1.png") repeat-x 0 -115px transparent; height: 25px; width: 120px; margin: 55px 0 0 15px;}

.node-type-quote .content .right .links{color: gray; margin-left: 15px;}

.node-type-quote #brands{background: none repeat scroll 0 0 white; box-shadow: 4px 4px 4px -4px gray; margin-top: 15px; margin-bottom: 18px; padding: 0 30px 20px;}

.node-type-quote #brands h2{display: block; font-size: 18px; font-weight: bold; margin-bottom: 30px; padding-top: 20px;}

.node-type-quote #brands div.bottom-clear{float: none;}


.node-type-quote #cisco{width: 100px; height: 50px; background: url("images/sprite-brands-1.png") no-repeat transparent;}
.node-type-quote #polycom{height: 30px; margin-top: 10px; width: 140px;background: url("images/sprite-brands-1.png") no-repeat 0 -82px transparent;}
.node-type-quote #microsoft{height: 20px; margin-top: 15px; width: 110px; background: url("images/sprite-brands-1.png") no-repeat 0 -140px transparent;}
.node-type-quote #att{height: 50px; width: 110px; background: url("images/sprite-brands-1.png") no-repeat 0 -191px transparent;}
.node-type-quote #verizon{height: 60px; width: 100px; background: url("images/sprite-brands-1.png") no-repeat 3px -265px transparent;}
.node-type-quote #comcast{height: 30px; margin-top: 12px; width: 115px; background: url("images/sprite-brands-1.png") no-repeat 0 -361px transparent;}
.node-type-quote div#panasonic{margin-right: 0; height: 20px; margin-top: 16px; width: 130px; background: url("images/sprite-brands-1.png") no-repeat 3px -427px transparent;}


.node-type-quote #bottom{background: white; margin-top: 15px; box-shadow: 4px 4px 4px -4px gray; padding: 0 30px 30px;}
.node-type-quote #bottom .left{float: left; width: 260px; margin-right: 25px;}
.node-type-quote #bottom .center{float: left; width: 260px;}
.node-type-quote #bottom .right{float: right; width: 260px;}
.node-type-quote #bottom h3{margin-bottom: 10px; font-size: 18px; font-weight: bold; float: none;}
.node-type-quote #bottom text{}

.node-type-quote #main footer{margin-top: 12px; width: 100%; text-align: center; color: gray; font-size: 12px; line-height: 22px;}
.node-type-quote #main footer a{color: gray;}
.node-type-quote #main footer a:hover{color: gray; text-decoration: underline;}

.node-type-quote #main footer .delim{color: gray;}








/* Page Request a Quote v7 */
body.node-type-quote.no-sidebars #main {padding: 0;}

body.quote-page.v7 {background: /*url(images/qp-v7-body-back.jpg) repeat-x*/ white;}
body.quote-page.v7 #all-content{width: 100%;}

.node-type-quote #v7{/*background: url("images/qp-v7-body-back.jpg") repeat-x;*/ height: 1000px; position: relative;}

body.quote-page.v7 #quote-content {}

body.quote-page.v7 .tabs-wrapper,
body.quote-page.v7 .messages{width: 980px; margin: auto; position: relative;}


.node-type-quote #v7 .full {width: 100%; position: relative; overflow: hidden;}

.node-type-quote #v7 .full.main {height: 596px;}

.node-type-quote #v7 .full.logo {height: 80px; /*border-bottom: 1px solid #d4e8f7;*/}

.node-type-quote #v7 .full.excerpt {padding: 20px 0 0;}
.node-type-quote #v7 .full.bottom {padding: 20px 0;/* background: #e5f4ff; border-top: 1px solid #d4e8f7; border-bottom: 1px solid #d4e8f7;*/}

.node-type-quote #v7 .full.brands {background: #ededed;}

.node-type-quote #v7 #bvc-logo {width: 980px; height: inherit; margin: auto; float: none; position: relative;}
.node-type-quote #v7 #bvc-logo .logo {background: none; height: inherit; margin: 8px 0 0 0; width: inherit;}
.node-type-quote #v7 #bvc-logo img {position: relative; left: -2px;}

.node-type-quote #v7 #bvc-logo .ps {color: gray; font-family: arial; font-size: 16px; right: 214px; top: 16px; position: absolute; text-align: center;}

/*.node-type-quote #v7 #bvc-logo h3{position: relative; top: -42px; left: 98px; color: white; font-size: 13px;}*/
.node-type-quote #v7 .partners {position: absolute; width: 360px; margin: 0; right: -10px; padding: 2px 0 0 0; float: none;}

/*.node-type-quote #v7 #main-content {margin: auto; width: 980px; height: 450px; padding-top: 30px; position: relative;}*/
.node-type-quote #v7 #main-content {margin: auto; width: 980px; padding-top: 30px; position: relative;}

.node-type-quote #v7 #upper-block{text-align: center; margin: auto; width: 980px; height: /*194*/142px; color: #656565; position: relative;}



.node-type-quote #v7 .quotes .group {float: left; margin: 0 20px;}

.node-type-quote #v7 .quotes .text {font-size: 15px; text-align: left; width: 520px; float: left; margin-left: 50px; font-family: 'open sans';}
.node-type-quote #v7 .quotes .text span{background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat -40px -109px transparent; width: 40px; height: 30px; display: inline-block;}
/*.node-type-quote #v7 .quotes .text div {background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat -81px -115px transparent; width: 40px; height: 30px; position: absolute; top: 145px; left: 350px;}*/
.node-type-quote #v7 .quotes .text div {background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat -81px -95px transparent; width: 40px; height: 50px; display: inline-block; position: relative; top: 26px; margin: -34px 0 0 0;}

.node-type-quote #v7 .quotes .source{font-size: 15px; font-weight: bold; margin: 10px 0 0 10px; color: #2a82c5; float: left; text-align: left; width: 360px;}

.node-type-quote #v7 .quotes .source span {background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat 0px -465px transparent; width: 103px; height: 105px; float: left; margin-right: 10px;}
.node-type-quote #v7 .quotes .source div {color: #656565; margin: 30px 0 0 10px; font-size: 23px; line-height: 25px;}

/*.node-type-quote #v7 h1 {background: none; font-size: 22px; margin: 0 0 10px; padding: 0; position: static; text-align: center; font-family: arial; font-weight: bold; line-height: 35px;}*/
.node-type-quote #v7 h1 {background: none; margin: 5px 0 15px; padding: 0; position: static; text-align: center; font-weight: bold; line-height: 35px; font-family: 'open sans'; font-size: 24px;}

.node-type-quote #v7 .content{background: none; border: none; box-shadow: none; position: absolute; padding: 0; right: 5px; top: 16px;}

.node-type-quote #v7 .content .left{width: 400px; padding-left: 0; position: relative; z-index: 3; color: white; text-shadow: 1px 1px 1px rgb(54,54,54);}
.node-type-quote #v7 .content .left .caption{font-weight: bold; margin: 20px 0 8px; font-size: 22px;}

.node-type-quote #v7 h2 {font-family: 'open sans'; font-size: 34px; font-weight: bold; padding: 3px 0 0 0; color: white; line-height: 44px; font-family: arial; text-align: center; text-shadow: 1px 1px 1px rgb(54, 54, 54); float: left;}
.node-type-quote #v7 h2 span {/*color: #f15050; */font-size: 38px;}

.node-type-quote #v7 .content .left .text{font-size: 11px;}
.node-type-quote #v7 .content .left .text.bullet {background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat transparent; padding: 5px 0 8px 35px; margin: 0 0 7px 0; line-height: 20px; font-size: 17px;}
.node-type-quote #v7 .content .left .text.bullet strong{font-family: arial; font-weight: normal;}

.node-type-quote #v7 .content .left .text.bullet.v1 {background-position: -355px -232px;}
.node-type-quote #v7 .content .left .text.bullet.v2 {background-position: -355px -273px;}
.node-type-quote #v7 .content .left .text.bullet.v3 {background-position: -355px -315px;}
.node-type-quote #v7 .content .left .text.bullet.v4 {background-position: -355px -358px;}


.node-type-quote #v7 #q-image{position: absolute; left: 510px; top: 285px;}

.node-type-quote #v7 .content .left .text-2{ color: blue; font-size: 11px; text-align: center;}
.node-type-quote #v7 .content .left .text-3{color: gray; font-size: 11px; text-align: center;}

/*.node-type-quote #v7 .right {padding: 10px 5px 0 5px; width: 440px; height: 399px; overflow: hidden; position: absolute; left: 7px; top: 165px; background: url(/sites/all/themes/bvc/css/images/lp7-quote-back.png); border-radius: 7px;}*/
.node-type-quote #v7 .right {padding: 10px 5px 0 5px; width: 440px; height: 399px; overflow: hidden; position: absolute; left: 7px; top: 165px; background: url(/sites/all/themes/bvc/css/images/lp7-quote-back.jpg) 0 -1px transparent; border-radius: 7px;}

.node-type-quote #v7 .right h3 {font-family: arial;  text-align: center; font-size: /*24*/26px; margin: 8px 0 15px 0; line-height: 30px; color: #565656; font-weight: bold;}
.node-type-quote #v7 .right h3 span {display: block; font-size: 19px; position: relative; top: 4px; font-style: italic;}
/*.node-type-quote #v7 .right h3 span {display: block; font-size: 14px; position: relative; top: 4px; color: white; font-weight: normal; line-height: 10px;}*/
 .node-type-quote #v7 h4 {clear: both; text-align: center; width: 480px; color: white; padding-top: 5px; font-weight: normal; font-size: 18px; font-family: arial; text-shadow: 1px 1px 1px rgb(54,54,54);}
 
.node-type-quote #v7 #verisign {background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat -120px -92px transparent; position: absolute; width: 115px; height: 60px; top: -35px; right: -4px;}

.node-type-quote #v7 .right.final {text-align: center; padding-top: 60px;}
.node-type-quote #v7 .right.final .quote-final {font-size: 14px; width: 300px; margin: auto;}
.node-type-quote #v7 .right.final .quote-final p {line-height: 25px;}

.node-type-quote #v7 #right-up{position: absolute; top: 550px; margin-left: 40px;}
.node-type-quote #v7 #right-up h2{color: white; font-size: 22px; margin-bottom: 15px;}
.node-type-quote #v7 #right-up .explain{float: left; font-size: 10px; width: 270px; color: white; position: relative;}
.node-type-quote #v7 #right-up .number{color: white; float: left; font-size: 45px; font-family: sans-serif; font-weight: bold; line-height: 35px; margin-right: 10px;}
.node-type-quote #v7 #right-up .text{position: absolute; bottom: 0; left: 50px; font-size: 12px;}


.node-type-quote #v7 #requestQuoteFormWrapper {width: auto; height: 305px; margin: 4px 0 0 20px;}
.node-type-quote #v7 #requestQuoteFormWrapper .step{height: 190px; padding-left: 9px;} 

.node-type-quote #v7 .multipartForm{height: auto; width: 393px;}
.node-type-quote #v7 .multipartForm .label_before{margin-left: 0;}
.node-type-quote #v7 #right-bottom .wrapper{float: left; height: 50px; margin-top: 10px; width: 166px;}


.node-type-quote #v7 .multipartForm .question {color: #3797d4; font-weight: bold; font-size: 13px; font-family: arial;}

/*.node-type-quote #v7 .multipartForm .select {width: 168px; float: left; margin: 0 16px 10px 0;}*/
.node-type-quote #v7 .multipartForm .select {width: 178px; float: left; margin: 0 15px /*25*/15px 0/*0 16px*/ /*17px*//*0*//*10px 0*/;}
.node-type-quote #v7 .multipartForm .select.last {margin-right: 0; margin-left: 7px;}


/*.node-type-quote #v7 #right-bottom .wrapper.input-border{height: 26px; margin: 2px 22px 20px 0; width: 169px; float: left;}*/
.node-type-quote #v7 #right-bottom .wrapper.input-border {height: 31px; margin: 2px 26px /*31*/21px 0; width: 174px; float: left;}
.node-type-quote #v7 #right-bottom .wrapper.input-border.second{margin-right: 0; width: 173px;}

.node-type-quote #v7 .ui-widget-content .ui-state-default, .node-type-quote #v7 select.input{width: 100%; padding: 0 0 0 3px; color: black; margin: 3px 0 10px 0; font-family: arial; font-size: 12px; text-align: left; height: 27px; border-color: lightgray;}

/*.node-type-quote #v7 .ui-widget-content a.ui-state-default#phones_amt-button {width: 169px !important;}*/
.node-type-quote #v7 .ui-widget-content a.ui-state-default#phones_amt-button, 
.node-type-quote #v7 .ui-widget-content a.ui-state-default#q_type-button{width: 173px !important;}


.node-type-quote #v7 .ui-selectmenu-status {padding: 6px 0 6px 5px; text-align: left; font-size: 12px;}

.node-type-quote #v7 .ui-state-default .ui-icon {background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat transparent -172px 3px; margin-top: -5px;}

.node-type-quote.v7 .ui-selectmenu-menu-dropdown {width: 176px !important;}
.node-type-quote.v7 .ui-selectmenu-menu-dropdown#phones_amt-menu {width: 176px !important;}
/*
.node-type-quote.v7 .ui-corner-bottom {
-moz-border-radius-bottomleft: 0;
-webkit-border-bottom-left-radius: 0;
border-bottom-left-radius: 0;
-moz-border-radius-bottomright: 0;
-webkit-border-bottom-right-radius: 0;
border-bottom-right-radius: 0;
}
*/
.node-type-quote.v7 .ui-corner-top,
.node-type-quote.v7 .ui-corner-bottom {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.node-type-quote.v7 li.ui-corner-bottom a {border: none;}

.node-type-quote .ui-selectmenu-menu li a, .node-type-quote .ui-selectmenu-status {padding: 2px 8px; text-align: left; font-size: 12px;}


.node-type-quote #v7 #right-bottom .wrapper input{border: 1px solid lightgray; float: left; font-size: 12px; height: 90%; text-align: left; width: 97%; margin: 0; background: white; color: black; font-family: arial; padding: 1px 0 0 8px;}
.node-type-quote #v7 #right-bottom .wrapper input:focus{border: solid 1px orange;}

.node-type-quote #v7 #right-bottom .wrapper input.blur {color: gray;}

.node-type-quote #v7 #right-bottom .label_before{float: none;}



.node-type-quote #v7 .content .question{clear: left; float: left; font-weight: normal; margin: 0 0 10px; padding-top: 5px;}


.node-type-quote #v7 .ps{clear: both; color: gray; font-family: arial; font-size: 10px; margin: 2px 0 0 10px;}
.node-type-quote #v7 .ps span{color: gray; display: block; font-weight: bold; font-family: tahoma, verdana; font-size: 18px;}

.node-type-quote #v7 .left .ps{color: black; font-size: 13px; margin: 30px 0 0 51px;}
.node-type-quote #v7 .left .ps span{color: black;}

.node-type-quote #v7 #pdf-icon {width: 40px; height: 40px; background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat transparent -290px -370px; float: left;}

.node-type-quote #v7 #requestQuoteFormWrapper #Navigation{position: static; margin: auto; width: 380px;}
.node-type-quote #v7 #requestQuoteFormWrapper #Navigation #next {background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat 2px -685px transparent; border: medium none; height: 60px; width: 385px; box-shadow: none; left: 0; margin: -3px 0 0 0; border-radius: 0; text-transform: uppercase; text-align: center; font-size: 24px; padding: 0 0 1px 1px; text-indent: -9999px;}

.node-type-quote #v7 #requestQuoteFormWrapper label.error{font-size: 10px; font-weight: normal; left: 10px; padding: 0; bottom: /*6px*/7px; margin: 0; background: lavender; width: 375px; overflow: hidden;}

.node-type-quote #v7 #requestQuoteFormWrapper .results{position: static; text-align: center; font-size: 17px;}
.node-type-quote #v7 #requestQuoteFormWrapper .results p {line-height: 25px;}

/* final v7 quote page content part */
.node-type-quote #v7 .content.final{height: 300px;}

.node-type-quote #v7 .left .quote-final{bottom: 5px; left: 40px; width: 295px;}
.node-type-quote #v7 .left .quote-final p{line-height: 20px;}

.node-type-quote #v7 .right-final .field-type-image{margin: 10px 10px 20px 0;}
.node-type-quote #v7 .content .right-final h2{left: 380px; top: 10px;}
.node-type-quote #v7 .right-final .link a{left: 381px; top: 120px;}

.node-type-quote #v7 #chart-and-bottom {position: absolute; top: 576px;}

.node-type-quote #v7 .block-views .more-link {display: none;}

/* Cancel position absolute for block in views */
.node-type-quote #v7 .block .content {position: relative;}



.node-type-quote #v7 #bottom{margin: auto; padding: /*20*/10px 0 10px 0; background: none; width: 980px; box-shadow: none;}
.node-type-quote #v7 #chart-and-bottom #bottom{box-shadow: none; margin: 0; padding: 10px 0 10px 0; background: transparent;}

.node-type-quote #v7 #bottom .text{float: left; margin: 0; padding: 0 0 0 42px; width: 280px; font-family: sans-serif;}
.node-type-quote #v7 #bottom .text.last{margin: 0; width: 290px;}
.node-type-quote #v7 #bottom .text h3{margin: 0 0 7px 0; line-height: 24px; font-family: arial; font-size: 19px; color: #656565; text-align: center;}
.node-type-quote #v7 #bottom .text div{line-height: 18px; font-size: 13px;/* text-align: center;*/}

/* Bottom text icons */
.node-type-quote #v7 #bottom .text span {background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat -285px -250px; width: 60px; height: 50px; display: block; margin: 0 auto 10px;}
.node-type-quote #v7 #bottom .text.last span {background-position: -285px -310px;}
.node-type-quote #v7 #bottom .text.first span {background-position: -290px -190px;}

.node-type-quote #v7 #chart-and-bottom .copy{color: gray; font-size: 12px; line-height: 22px; margin: 70px 0 0 10px;}

.node-type-quote #v7 #brands{text-align: center; height: 115px; padding: 5px 0 0 0; overflow: hidden; width: 980px; margin: auto; box-shadow: none; background: transparent;}

.node-type-quote #v7 #brands h2{float: none; font-size: 17px; margin: 0 0 0 45px; padding: 0; color: #c1c1c1; font-weight: normal; text-align: left; font-family: arial; text-shadow: none; line-height: 35px;}



.node-type-quote #v7 .brands2 {background: url(/images/theme/lp-sprite-1.png) no-repeat 45px -15px transparent; width: 340px; height: 80px; float: left;}
.node-type-quote #v7 .brands2.s2 {background-position: 50px -150px;}
.node-type-quote #v7 .brands2.s3 {background-position: 15px -230px; width: 300px;}


.node-type-quote #v7 table{height: 100%; margin: 0;}
.node-type-quote #v7 li table{float: left;}
.node-type-quote #v7 tbody{vertical-align: middle;}

.node-type-quote #v7 .jcarousel-skin-tango .jcarousel-prev-horizontal{display: none !important; position: absolute; background: url("http://businessvoipcenter.com/sites/all/libraries/jquery.plugins/jcarousel/skins/tango/prev-horizontal.png") no-repeat scroll 0 0 transparent; cursor: pointer; height: 32px; width: 32px; left: 3px; top: 20px;}
.node-type-quote #v7 .jcarousel-skin-tango .jcarousel-next-horizontal{display: none !important; position: absolute; background: url("http://businessvoipcenter.com/sites/all/libraries/jquery.plugins/jcarousel/skins/tango/next-horizontal.png") no-repeat scroll 0 0 transparent; cursor: pointer; height: 32px; width: 32px; right: 0; top: 20px;}

.node-type-quote #v7 .jcarousel-skin-tango .jcarousel-item-horizontal{margin-right: 50px;}
.node-type-quote #v7 .jcarousel-skin-tango .jcarousel-item-horizontal.jcarousel-item-6 {margin: 0;}

/*.node-type-quote #v7 footer{height: 100px; width: 100%; padding-top: 18px; margin: 0 auto;}*/
.node-type-quote #v7 footer{height: 45px; width: 100%; margin: 0 auto;}

.node-type-quote #v7 footer #footer-inside, .node-type-quote #v7 #underfooter-inside {width: 980px; margin: auto; padding: 10px 0; font-size: 18px; /*text-align: center;*/}

.node-type-quote #v7 #footer .c {font-size: 16px; background: none; padding-top: 0;}
/*.node-type-quote #v7 #footer .c div {margin-top: 10px;}*/
/*.node-type-quote #v7 #footer .c div {margin: 0 0 0 30px; color: gray; font-weight: normal; font-size: 14px;}*/
.node-type-quote #v7 #footer .c div {color: gray; font-weight: normal; font-size: 13px; text-align: center; margin: 0; float: none;}

.node-type-quote #v7 .underfooter {background: #212121; color: gray;}

.node-type-quote #v7 footer .bvc.menu {margin: auto; width: 600px;}

/*.node-type-quote #v7 #footer .c {font-size: 13px; width: 680px;}*/

.node-type-quote #v7 #requestQuoteFormWrapper .guide.ps{display: block; padding: 0 0 5px 0; overflow: hidden; margin: /*12*/18px 0 0 72px;}
.node-type-quote #v7 #requestQuoteFormWrapper .guide.ps .text{float: left; width: 210px; padding: 3px 0 0 0; font-size: 12px; line-height: 17px;}
.node-type-quote #v7 #requestQuoteFormWrapper .guide.ps span{display: inline;}
.node-type-quote #v7 #requestQuoteFormWrapper .guide.ps img{width: 32px;}

.node-type-quote #v7 .left .guide{background: url("images/pdf-icon2.png") no-repeat scroll right 0px transparent; font-size: 11px; padding: 0px 60px 10px 0; width: 250px; text-align: right; color: white; margin-top: 20px; font-weight: bold;}

.node-type-quote #v7 .left .guide span{display: block; font-size: 12px; font-weight: normal;}












/* Exit intent */

#exitIntent {text-align: center;}

#exitIntent #line-1 {font-size: 38px; font-weight: bold;}
#exitIntent #line-2 {font-size: 43px; font-weight: bold; color: #ff551d;}
#exitIntent #line-3 {margin: 25px 0 20px 0;}
#exitIntent #line-4 {margin: 0 0 20px 0;}
#exitIntent #yes {background: url(/sites/all/themes/bvc/css/images/lp-sprite-1.png) no-repeat 9px -227px transparent; height: 120px; margin: 10px auto; width: 288px; text-indent: -9999px; display: block;}

#exitIntent #no {cursor: pointer; font-size: 20px; margin-top: 20px; color: #a1a1a1; text-decoration: underline; font-style: italic;}
#exitIntent #no:hover {color: black; text-decoration: none;}

.quote-page.v4 #cboxOverlay {background: black;}
.quote-page.v4 #cboxClose {display: none !important;}